<div class="alert alert-danger">
    Хостинг цього сайту та API буде припинено у липні 2024 року. Для отримання даних розкладів використовуйте <a href="https://github.com/noobquire/KpiSchedule.Common" class="alert-link">парсер</a>.
</div>
