@using Blazored.LocalStorage;
@using KpiSchedule.Api.Models.Responses;
@using KpiSchedule.Frontend.ViewModels;
@inject ILocalStorageService localStorage;

<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
    <a class="navbar-brand" href="#">KPI Schedule</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <NavLink class="nav-item nav-link" href="group-schedule/search">Розклад групи</NavLink>
            <NavLink class="nav-item nav-link" href="teacher-schedule/search">Розклад викладача</NavLink>
            @if (model.DisplayPersonalSchedule)
            {
                <NavLink class="nav-item nav-link" href="personal-schedule">Особистий розклад</NavLink>
            }
            <NavLink class="nav-item nav-link" href="https://api.kpi-schedule.com">API</NavLink>
        </div>
        <div class="nav navbar-nav navbar-right ms-auto">
            <CascadingValue Value="model"><TelegramLoginWidget/></CascadingValue>
        </div>
    </div>
</nav>

@code {
    private NavBarModel model = new NavBarModel();

    protected override async Task OnInitializedAsync()
    {
        model.Changed = StateHasChanged;
        var authToken = await localStorage.GetItemAsync<JwtTokenResponse>("token");
        model.DisplayPersonalSchedule = authToken is not null;
        await base.OnInitializedAsync();
    }
}
