@using KpiSchedule.Common.Entities.Group;
@using KpiSchedule.Common.Entities.Teacher;
@using KpiSchedule.Frontend.ViewModels;
@using KpiSchedule.Frontend.ViewModels.Group;
@using KpiSchedule.Frontend.ViewModels.Teacher;
@inject KpiScheduleApiClient client;

<EditForm Model="@SearchTeacherSchedule" OnSubmit="HandleSearch">
    <h3>Пошук розкладу викладача</h3>
    <div class="input-group w-25">
        <span class="input-group-text">ПІБ викладача: </span>
        <InputText class="form-control" id="inputTeacherName" placeholder="Іванов Іван Іванович" @bind-Value="SearchTeacherSchedule.TeacherName" />
        <button type="submit" class="btn btn-primary input-group-text">Пошук</button>
    </div>
</EditForm>
<ul class="list-group list-group-flush w-25">
    @foreach (var searchResult in SearchResults)
    {
        <li class="list-group-item"><NavLink class="nav-link" href="@($"teacher-schedule/{searchResult.ScheduleId}")">@searchResult.TeacherName</NavLink></li>
    }
</ul>

@code {
    public SearchTeacherScheduleViewModel SearchTeacherSchedule { get; set; } = new SearchTeacherScheduleViewModel();
    public List<TeacherScheduleSearchResult> SearchResults { get; set; } = new List<TeacherScheduleSearchResult>();

    async Task HandleSearch()
    {
        var results = await client.SearchTeacherSchedules(SearchTeacherSchedule.TeacherName);
        SearchResults = results ?? new List<TeacherScheduleSearchResult>();
    }
}