@using KpiSchedule.Common.Entities.Group;
@using KpiSchedule.Frontend.ViewModels;
@using KpiSchedule.Frontend.ViewModels.Group;
@inject KpiScheduleApiClient client;

<EditForm Model="@SearchGroupSchedule" OnSubmit="HandleSearch">
    <h3>Пошук розкладу групи</h3>
    <div class="input-group w-25">
        <span class="input-group-text">Код групи: </span>
        <InputText class="form-control" id="inputGroupName" placeholder="АА-21" @bind-Value="SearchGroupSchedule.GroupName" />
        <button type="submit" class="btn btn-primary input-group-text">Пошук</button>
    </div>
</EditForm>
<ul class="list-group list-group-flush w-25">
    @foreach (var searchResult in SearchResults)
    {
        <li class="list-group-item"><NavLink class="nav-link" href="@($"group-schedule/{searchResult.ScheduleId}")">@searchResult.GroupName</NavLink></li>
    }
</ul>

@code {
    public SearchGroupScheduleViewModel SearchGroupSchedule { get; set; } = new SearchGroupScheduleViewModel();
    public List<GroupScheduleSearchResult> SearchResults { get; set; } = new List<GroupScheduleSearchResult>();

    async Task HandleSearch()
    {
        var results = await client.SearchGroupSchedules(SearchGroupSchedule.GroupName);
        SearchResults = results ?? new List<GroupScheduleSearchResult>();
    }
}