@using KpiSchedule.Api.Models.Requests;
@using KpiSchedule.Api.Models.Responses;
@using KpiSchedule.Frontend.ViewModels;
@using System.Text.Json;
@using Blazored.LocalStorage;
@inject IJSRuntime Js;
@inject KpiScheduleApiClient client;
@inject ILocalStorageService localStorage;


@if (!isLoggedIn)
{
    <div class="nav-item mx-auto">
        <script id="login" suppress-error="BL9992" src="https://telegram.org/js/telegram-widget.js?14" data-telegram-login="kpi_schedule_com_bot" data-size="large" data-onauth="onTelegramAuth(user)"></script>
        <script suppress-error="BL9992" type="text/javascript">
            window.onTelegramAuth = (user) => {
                var ref = window.refs.updateTelegramLogin
                ref.invokeMethodAsync('LoginWithTelegram', user);
            }
        </script>
    </div>
}
else
{
    <span class="nav-item my-2">Ви увійшли як @telegramData.FirstName @telegramData.LastName</span>
    <div class="nav-item ms-3">
        <button class="btn btn-primary" @onclick="Logout">Вийти</button>
    </div>
}


@code {
    [CascadingParameter]
    private bool DisplayPersonalSchedule { get; set; }

    private TelegramLoginInterop telegramLoginInterop;
    private TelegramAuthenticationRequest telegramData;
    private JwtTokenResponse authToken;

    string jsUpdateLoginRefId = "updateTelegramLogin";

    bool isLoggedIn = false;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        authToken = await localStorage.GetItemAsync<JwtTokenResponse>("token");
        telegramData = await localStorage.GetItemAsync<TelegramAuthenticationRequest>("telegramData");
        isLoggedIn = authToken is not null;
        telegramLoginInterop = new TelegramLoginInterop(Login);
        await Js.InvokeVoidAsync("setupDotnetRef", DotNetObjectReference.Create(telegramLoginInterop), jsUpdateLoginRefId);
        await base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async Task Logout()
    {
        await localStorage.ClearAsync();
        isLoggedIn = false;
        StateHasChanged();
    }

    private async Task Login(JsonElement receivedTelegramInfo)
    {
        var options = new JsonSerializerOptions
        {
            PropertyNamingPolicy = JsonNamingPolicy.CamelCase
        };
        var telegramData = receivedTelegramInfo.Deserialize<TelegramAuthenticationRequest>(options);
        var token = await client.AuthenticateTelegramUser(telegramData);

        await localStorage.SetItemAsync("telegramData", telegramData);
        await localStorage.SetItemAsync("token", token);
        DisplayPersonalSchedule = true;
        isLoggedIn = true;
        StateHasChanged();
    }
}