@page "/counter"

<PageTitle>Розклад занять групи</PageTitle>

<h1>Розклад занять групи</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
