@page "/personal-schedule/{scheduleId:guid}"
@using KpiSchedule.Common.Entities.Student;
@using KpiSchedule.Frontend.Shared
@using KpiSchedule.Frontend.ViewModels.Student;
@inject KpiScheduleApiClient client

<PageTitle>Особистий розклад</PageTitle>
@if (scheduleEntity is null)
{
    <p>Loading...</p>
}
else
{
    <h2 class="text-center">Особистий розклад занять</h2>
    <h3 class="text-center">Перший тиждень</h3>
    <StudentScheduleTable Pairs="@(scheduleViewModel.GrouppedFirstWeekPairs)" />
    <h3 class="text-center">Другий тиждень</h3>
    <StudentScheduleTable Pairs="@(scheduleViewModel.GrouppedSecondWeekPairs)" />
}

@code {
    [Parameter]
    public Guid scheduleId { get; set; }

    private StudentScheduleEntity? scheduleEntity;
    private StudentScheduleViewModel scheduleViewModel;

    protected override async Task OnInitializedAsync()
    {
        await client.SetAuthenticationHeader();
        scheduleEntity = await client.GetStudentSchedule(scheduleId);
        scheduleViewModel = scheduleEntity.MapToViewModel();
    }
}
